In [23]:
#Reverse Geocoding (Written by Chantelle)

import googlemaps
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

#geopy settings
geolocator = Nominatim(user_agent="DAO2702")
rgeocode = RateLimiter(geolocator.reverse, min_delay_seconds=0.01)

#import address data
df = pd.read_csv("addresses.csv")
df.head(6)

,STN_NAME,STN_NO,OBJECTID,X,Y,COLOR,Latitude,Longitude
0,ADMIRALTY MRT STATION,NS10,12,24402.1063,46918.1131,RED,1.440585,103.800998
1,ALJUNIED MRT STATION,EW9,16,33518.6049,33190.0020,GREEN,1.316433,103.882893
2,ANG MO KIO MRT STATION,NS16,33,29807.2655,39105.7720,RED,1.369933,103.849553
3,BAKAU LRT STATION,SE3,81,36026.0821,41113.8766,OTHERS,1.388093,103.905418
4,BANGKIT LRT STATION,BP9,80,21248.2460,40220.9693,OTHERS,1.380018,103.772667
5,BARTLEY MRT STATION,CC12,153,33168.3039,36108.7003,YELLOW,1.342828,103.879746

In [24]:
df['Coordinates'] = df['Latitude'].map(str) + ', ' + df['Longitude'].map(str)
df['Full Address'] = df['Coordinates'].apply(rgeocode)

df.head(6)

,STN_NAME,STN_NO,OBJECTID,X,Y,COLOR,Latitude,Longitude,Coordinates,Full Address
0,ADMIRALTY MRT STATION,NS10,12,24402.1063,46918.1131,RED,1.440585,103.800998,"1.4405850009999999, 103.80099820000001","(Admiralty, Covered Walkway, Woodlands, Northw..."
1,ALJUNIED MRT STATION,EW9,16,33518.6049,33190.0020,GREEN,1.316433,103.882893,"1.316432612, 103.88289300000001","(81, Lorong 25 Geylang, Geylang, Singapore, So..."
2,ANG MO KIO MRT STATION,NS16,33,29807.2655,39105.7720,RED,1.369933,103.849553,"1.369933175, 103.8495535","(Ang Mo Kio, 2450, Ang Mo Kio Avenue 8, Ang Mo..."
3,BAKAU LRT STATION,SE3,81,36026.0821,41113.8766,OTHERS,1.388093,103.905418,"1.388092704, 103.9054179","(Bakau, Rivervale Drive, Seng Kang, Northeast,..."
4,BANGKIT LRT STATION,BP9,80,21248.2460,40220.9693,OTHERS,1.380018,103.772667,"1.3800178969999999, 103.7726667","(Bangkit, Bukit Panjang Ring Road, Bukit Panja..."
...,...,...,...,...,...,...,...,...,...,...
184,WOODLANDS SOUTH MRT STATION,TE3,175,23607.8309,45444.7113,OTHERS,1.427260,103.793863,"1.427259979, 103.7938631","(Woodlands South, 30, Woodlands Drive 17, Wood..."
185,WOODLEIGH MRT STATION,NE11,146,32173.3186,35706.3794,PURPLE,1.339190,103.870808,"1.339190046, 103.87080809999999","(Woodleigh, Upper Serangoon Road, Potong Pasir..."
186,YEW TEE MRT STATION,NS5,6,18438.9791,42158.0124,RED,1.397535,103.747431,"1.3975350180000001, 103.74743070000001","(Yew Tee, 61, Choa Chu Kang Drive, Singapore, ..."
187,YIO CHU KANG MRT STATION,NS15,41,29294.1283,40413.0820,RED,1.381756,103.844944,"1.381756046, 103.8449439","(3000, Yio Chu Kang Bus Interchange, Ang Mo Ki..."
188,YISHUN MRT STATION,NS13,13,28187.6787,45686.0701,RED,1.429443,103.835005,"1.4294430809999998, 103.83500450000001","(UOB, 301, Yishun Park Connector, Yishun, Sing..."

In [26]:
df.to_csv('result.csv', index=False)